/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

/* styling the legend */
.info {
  text-align: center;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #555;
  color: snow;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend {
  background-color: “black”;
  line-height: 25px;
  background: snow;
  color: #555;
  width: auto;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
}